.table-wrapper {
    padding: 0;
}

.table {
    width: 100%;
    border: none;
    border-collapse: collapse;

    thead {
        background: #ffffff;

        tr {
            height: 48px;
            color: #95989a;
            font-size: 16px;
            font-weight: 600;
        }
    }

    tbody {
        tr {
            height: 72px;
        }

        .table__link {
            opacity: 0;
            display: inline-block;
            transition: all .3s ease-in-out;
            text-decoration: none;
            color: #1eb7ee;
            font-size: 18px;
            line-height: 25px;
            position: relative;
        }

        tr:hover .table__link {
           opacity: 1;
        }

        tr:nth-child(even) {
            background: #ffffff;
        }

        tr:nth-child(odd) {
            background: rgba(0,102,135,.1);
        }
    }

    .terminal {
        color: #63c745;
        font-weight: 700;
        border: 1px solid #63c745;
        border-radius: 50%;
        display: inline-block;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 35px;
        font-size: 22px;
    }

    .company {
        line-height: 72px;
    }

    .image {
        display: inline-block;
        width: 64px;
        height: 38px;
        margin-right: 5px;
        vertical-align: middle;
    }
}

td {
    text-align: center;
}
